<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout1}"
>
<!-- 사용자 정의 스크립트 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function() {
      
      calculateTotalPrice();
      
      $("#count").change(function() {
        calculateTotalPrice();
      });
    });
    
    function calculateTotalPrice() {
      let count = $("#count").val();
      let price = $("#price").val();
      let totalPrice = price * count;
      $("#totalPrice").html(totalPrice + '원');
    }
  </script>
</th:block>

<!-- 사용자 정의 CSS -->
<th:block layout:fragment="css">
  <style>
    .mgb-15 {
      margin-bottom: 15px;
    }
    .mgt-30 {
      margin-top: 30px;
    }
    .mgt-50 {
      margin-top: 50px;
    }
    .repImgDiv {
      margin-right: 15px;
      height: auto;
      width: 50%;
    }
    .repImg {
      width: 100%;
      height: 400px;
    }
    .wd50 {
      height: auto;
      width: 50%;
    }
  </style>
</th:block>

<div layout:fragment="content" style="margin-left: 25%; margin-right: 25%">
  <input type="hidden" id="itemId" th:value="${item.id}">
  <div class="d-flex">
    <div class="repImgDiv">
      <img th:src="${item.itemImgDtoList[0].imgUrl}" class="rounded repImg" th:alt="${item.name}">
    </div>
  </div>
</div>
</html>